.card-container {
  position: relative;
  min-height: 300px;
  width: 100%;

  .price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: $primary-color;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
}

.card-bottom {
  display: flex;
}

.btn {
  color: white;
  cursor: pointer;
  border: none;
  width: 50%;
  padding: 20px;

  &-like {
    background-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 10%);
    }
  }
  &-shop {
    background-color: $primary-color;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
