@import "_card-style.scss";

* {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;

  .body-shop {
    display: flex;
  }
  nav {
    background-color: red;
    height: 100px;
  }

  .card-list {
    background-color: blue;
    height: 100vh;
  }

  .card-shop {
    background-color: yellow;
    width: 25%;
  }
}
