//variables
$primary-color: rgb(219, 155, 35);
$secondary-color: rgb(16, 200, 200);
@import "_card-style.scss";

//general
* {
  box-sizing: border-box;
  margin: 0;
}
// Grid System
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: calc(100% / 12 * $i - 0.5rem);
  }

  .card-list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }

  .card-shop {
    width: 50%;
  }
}
